body {
  margin: 0;
  font-family: sans-serif;
  background: #E1E1E9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}


.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.container {
  display: flex;
  width: auto;
  margin: 1rem;
  min-width: 0;
  max-width: 100%;
}

/* 6 x 4 Grid */
#links-grid {
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 60px));
  gap: 10px;
  max-width: 410px;
  background: #DFDBD7;
  padding: 10px;
  border-radius: 10px;
  outline: 2px solid #e9e6e4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  min-width: 0;
}

/* 5 x 5 Grid */
@media (max-width: 462px) {
  #links-grid {
    max-width: 360px;
  }
}

/* 4 x 6 Grid */
@media (max-width: 412px) {
  #links-grid {
    max-width: 290px;
  }
}

/* 3 x 8 Grid */
@media (max-width: 322px) {
  #links-grid {
    max-width: 220px;
  }
}

/* 2 x 12 Grid */
@media (max-width: 252px) {
  #links-grid {
    max-width: 150px;
  }
}

/* 1 x 24 Grid */
@media (max-width: 198px) {
  #links-grid {
    max-width: 80px;
  }
}

.bubble:has(div) {
  background: linear-gradient(180deg, #fff 75%, #e6e6e6 100%);
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 60px;
  height: 60px;
  text-decoration: none;
  color: #222;
  position: relative;
}
.bubble .icon {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.1);
} 
.bubble:has(div)::after {
  z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(200deg, rgba(255, 251, 185, 0.25) 0%, transparent 30%, rgba(0,0,0,0.025) 80%);
}

/* Empty Bubble */
.bubble:not(:has(div)) {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: default;
  pointer-events: none;
}
.bubble:not(:has(div))::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: rgba(0,0,0,0.01);
}
